[submodule "step_artifact"]
	path = step_artifact
	url = https://github.com/stanford-ppl/step_artifact.git
[submodule "flashinfer-bench"]
	path = flashinfer-bench
	url = https://github.com/flashinfer-ai/flashinfer-bench.git
[submodule "PCL-lite"]
	path = PCL-lite
	url = https://github.com/zhang677/PCL-lite.git
